.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-card {
    min-width: 350px;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid #88a3c53f;
    border-radius: 20px;
    padding: 15px 30px 30px;
    box-shadow: 1px 3px 5px #e0e1e285;
    background-color: var(--color-card-background);
}

.logo img{
    width: 80px;
}

.header {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.header h2 {
    color: var(--color-primary);
    font-size: var(--font-size-h4);
}

.header p {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: var(--color-text-secondary);
    margin-top: 7px;
}

.description {
    text-align: center;
    margin: 20px 0;
}

.description i {
    font-size: 28px;
    color: var(--color-accent);
    margin-bottom: 10px;
}

.description h2 {
    color: var(--color-primary);
    font-size: var(--font-size-h4);
    margin: 10px 0 5px;
}

.description p {
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
}

form {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    margin: 10px 0;
}

label {
    color: var(--color-text-primary);
    font-weight: 600;
    margin-bottom: 8px;
}

label span {
    color: var(--color-danger);
}

.otp-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 20px;
}

.otp-input {
    width: 100%;
    aspect-ratio: 1 / 1;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #64748b5e;
    border-radius: 8px;
    outline: none;
}

.otp-input:focus {
    border: 2px solid var(--color-accent);
    box-shadow: 0 0 5px rgba(44, 181, 160, 0.3);
}

input[type="password"] {
    padding: 10px;
    border: 1px solid #64748b5e;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="password"]:hover {
    border-color: #142c4dc9;
}

input[type="password"]:focus {
    border: 2px solid #142c4d5e;
    box-shadow: 0 0 5px rgba(153, 144, 235, 0.3);
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-card-background);
    background-color: var(--color-accent);
}

.hidden {
    display: none;
}

.error-message {
    background-color: #fee2e2;
    color: var(--color-danger);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: var(--font-size-small);
    margin-bottom: 15px;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: var(--font-size-small);
}

#resend-link {
    color: var(--color-accent);
    text-decoration: none;
    font-weight: 550;
}